.all-page {
  background-color: #9c835f;
  height: 100vh;
}

.header-text {
  color: #f9b23d;
  font-size: 36px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
}

.games-content {
  color: black;
  font-weight: bold;
  text-align: center;
}

.result-board {
}
