<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/default.css" type="text/css">
    </head>    
    <body>
        <div class="root contrainer-fluid bg-light justify-content-center align-items-center">
            <%- body %>
        </div>
    </body>
</html>